#left-nav {
    position: absolute;
    width: 200px;
    top: 0px;
    left:0px;
    bottom: 0px;
    background: #484B4C;
    border-right: solid 1px #000;
    color: #ddd;
}

#left-nav>.welcome {
    padding: 8px;
}

#left-nav>.list>li {
    border-bottom: solid 1px #444;
    padding: 8px;
}

.list-item:not(:first-of-type) {
    border-top: solid 1px #555;
}

#left-nav>.list>.list-item h3 {
    margin: 0px;
    font-size: 16px;
    color: #e5e5e5;
}

#left-nav>.list>.list-item p {
    margin: 0px;
}

#left-nav>.list>li:active {
    background-color: #393939;
}

#left-nav>.title {
    background: #444;
    /*opacity: .3;*/
    padding: 4px;
    border-top: solid 1px #555;
    border-bottom: solid 1px #333;
    /*border-bottom: solid 1px #555;*/
}

#left-nav i {
    font-size: 16px;
    float:left;
    margin-right: 8px;
    width: 28px;
}

#container {
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
}

#container.offset {
    -webkit-transform: translate3d(200px, 0, 0);
    transform: translate3d(200px, 0, 0);
}

#container.transition {
    -webkit-transition-duration: .25s;
    transition-duration: .25s;
}

#content {
    position: absolute;
    overflow: auto;
    -webkit-overflow-scrolling: touch;
    top: 44px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    background: #ffffff;
}

.chart {
    width: 490px;
    height: 350px;
    float: left;
    padding: 10px;

}

.chart2 {
    width: 490px;
    height: 700px;
    float: left;
    padding: 10px;

}

.boards-title {
  font-size: 24px;
  text-align: center;
  margin: 10px;
}

.board {
  border: solid 1px;
  padding: 0;
  min-height: 160px;
  overflow: hidden;
  margin-bottom: 10px;
}

#game-stats {
  text-align: center;
}

.board-title {
  text-align: center;
  color: white;
  background: #315C57;
}

#score {
  font-size: 3em;
  font-weight: bold;
  margin-top: 40px;
  margin-bottom: 15px;
}

.players li {
  float:left;
  margin: 5px;
  background: #A9EEE6;
  padding-left: 5px;
  padding-right: 5px;
  cursor: pointer;
  border-radius: 5px;
  -webkit-border-radius: 5px;
}

#players-table {
  width: 800px;
  height: 600px;
  float: left;
  padding: 10px;
  font-size: 8pt;
}

#games-table {
  width: 600px;
  height: 400px;
  float: left;
  padding: 10px;
  font-size: 8pt;
}

.player-score {
  padding-left: 10px;
  padding-right: 10px; 
}
.player-score .score {
  float:right;
}

.player-profile .chart {
  min-height: 200px;
  float: left;
  padding: 10px;
}

.player-profile #name {
  font-size: 4em;
  margin: 20px;
  text-align: center;
}

.player-chart {
  min-height: 300px;
  float: left;
  padding: 10px;
}

